@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans');

html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Comfortaa', sans-serif;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}